body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto","Arial", sans-serif;
  letter-spacing: 0.5px;
}
.site-header{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;
 }
 .logo-link{
  transition: opacity 0.4s ease ;
 }
.logo-link:hover{
  opacity: 0.8;
 }
.logo-link:active{
  opacity: 0.6;
}
.site-header-actions{
  align-items: center;
  display:flex;

}
*:focus{
  outline: 2px #FF7500 dashed;
  outline-offset: 3px;


}
.sitenav-link{
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  transition: color 0.5s ease;
  display: flex;
  align-items:left ;
  justify-content: space-around;
  padding: 0;
  margin:0;
}
.sitenav-link{
  margin-right: 32px

}

.site-nav-item{
  margin-right: 32px;

}
.site-nav-item:last-child{
 margin-right: 0;
}
.navlinks{
  color: #000000;
  text-decoration: none;
  align-items: center;
}
.navlinks{
  margin-right: 32px ;

}
.navlinks:last-child{
margin-right: 0;
}
.navlinks:hover{
  color: #FF7500;

}

.hero{
  background-color:#252420;
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-content{
  width: 390px;
}
.hr-line{
  width: 80px;
  height: 3px;
  background-color:#FF7500;
  border: 0;
}
.hr-line{
  margin: 0;
  margin-bottom: 40px;

}
.hero-heading{
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed","Roboto","Arial",sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
  }
  .hero-text{
    margin-top: 0;
    margin-bottom: 32px;
  }

.hero-img{
  border-radius: 8px;
  width: 510px;
  height: 510px;
}
.main-link{
  background-color:#FF7500;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  transition: opacity 0.4s ease;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px ;
  font-weight: bold;
}
.main-link:hover{
  opacity: 0.8;
}
.main-link:active{
  opacity: 0.6;
}
.feature{
  width: 340px;
  list-style: none;
  margin-right: 40px;
}
.feature{
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature:last-child{
  margin-right: 0;
}
.features-heading{
  width: 440px;
  line-height: 1.2;
  font-size: 72px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed","Roboto","Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 72px;
}
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color:rgba(255, 117, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.feature-title{

  font-size: 24px;
  font-family: "Roboto Condensed","Roboto","Arial", sans-serif;

}
.feature-list{
  display: flex;
  padding: 0;
  margin: 0;

}

.promo{
  background-color: #252420;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
 border-radius: 12px;
}
.promo-content{
  width: 440px;
}
.promo-heading{
font-size: 40px;
line-height: 48px;
font-family: "Roboto Condensed","Roboto","Arial", sans-serif;
margin-bottom: 24px;

}
.promo-highlight{
  color: #FF7500;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.promo-img{
  width: 440px;
  height: 440px;
  border-radius: 12px;
}
.promo-text{
  margin-top: 0;
  margin-bottom: 12px;
}
.promo-text:last-child{

  margin-bottom: 0;
}
.promo-text-wrapper{
  margin-bottom: 24px;

}
.site-footer{
  background-color: #F8F8F8;

}
.footer-line{
  background-color: #25242080;
  height: 2px;
  padding: 0;

}

.site-footer ul {
  list-style: none;
  padding-top: 56px;
  padding-bottom: 56px;


}
.social-links{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.social-links a{
  color:#252420;

}
.social-links li{
  margin-right: 16px;
}
.social-links li:last-child{
  margin-right: 0;
}
.social-links a:hover{
  color: #FF7500;

}
.social-links a:active{
  opacity: 0.6;

}



.footer-links a{
 text-decoration: none;
 color: #252420;
 line-height: 19px;

}
.footer-links{
  padding: 0;
  width: 224px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
 line-height: 19px;
 margin: 0;
 margin-right: 68px;
}
.footer-links a:hover{
  color:#FF7500 ;

}
.footer-links:last-child{
margin: 0;
}
.footer-links a:active{
  opacity: 0.6;
}
.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom{
  display: flex;

}
.footer-line{
  margin-top: 40px;

 margin-bottom: 64px;
}