body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto","Arial", sans-serif;
  letter-spacing: 0.5px;
}
.site-header{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .logo-link{
  transition: opacity 0.4s ease ;
 }
.logo-link:hover{
  opacity: 0.8;
 }
.logo-link:active{
  opacity: 0.6;
}
.site-header-actions{
  align-items: center;
  display:flex;

}
.sitenav-link{
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  transition: color 0.5s ease;
  display: flex;
  align-items:left ;

  justify-content: space-around;

}


.navlinks{
  color: #000000;
  text-decoration: none;
  align-items: center;
}
.navlinks:hover{
  color: #FF7500;

}

.hero{
  background-color:#252420;
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.hero-content{
  width: 390px;
}
.hr-line{
  width: 80px;
  height: 3px;
  background-color:#FF7500;
}
.hero-heading{
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed","Roboto","Arial",sans-serif;
  }

.hero-img{
  /* object-position: left; */
  width: 510px;
  height: 510px;
}
.main-link{
  background-color:#FF7500;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  transition: opacity 0.4s ease;

}
.main-link:hover{
  opacity: 0.8;
}
.main-link:active{
  opacity: 0.6;
}
.feature{
  width: 340px;
  list-style: none;
}
.features-heading{
  width: 440px;
  line-height: 1.2;
  font-size: 72px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed","Roboto","Arial", sans-serif;
}
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color:rgba(255, 117, 0, 0.2);
}
.feature-title{

  font-size: 24px;
  font-family: "Roboto Condensed","Roboto","Arial", sans-serif;

}
.feature-list{
  display: flex;
  justify-content: space-between;
}

.promo{
  background-color: #252420;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo-content{
  width: 440px;
}
.promo-heading{
font-size: 40px;
line-height: 48px;
font-family: "Roboto Condensed","Roboto","Arial", sans-serif;
/* font-weight: 700; */
}
.promo-highlight{
  color: #FF7500;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.promo-img{
  width: 440px;
  height: 440px;
}
.site-footer{
  background-color: #F8F8F8;

}
.footer-line{
  background-color: #25242080;
  height: 2px;

}

.site-footer ul {
  list-style: none;


}
.social-links{
  list-style: none;
  display: flex;
  align-items: center;
}
.social-links a{
  color:#252420;

}

.social-links a:hover{
  color: #FF7500;

}
.social-links a:active{
  opacity: 0.6;

}



.footer-links a{
 text-decoration: none;
 color: #252420;
 line-height: 19px;

}
.footer-links{
  width: 224px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
 line-height: 19px;
}
.footer-links a:hover{
  color:#FF7500 ;

}
.footer-links a:active{
  opacity: 0.6;
}
.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom{
  display: flex;

}